/* ==========================================================================
   Homepage Background
   ========================================================================== */

   .homepage-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    min-height: 560px;
    z-index: -1;
    background-color: #2273d1;
    background-image: url("/static/img/hero-background-mobile.jpg");
    background-position: center top;
    background-repeat: no-repeat;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        min-height: 800px;
        background-image: url("/static/img/hero-background.jpg");
        background-position: center top;
        background-repeat: no-repeat;
    }

}